{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block style %}
    {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도전 K번역</title>
</head>
<body>
    <div class="wrap">
        <nav class="navbar navbar-dark bg-primary align-self-center fixed-top ">    
            <div class="container-fluid col-9">
                <!-- 홈 로고 -->
                <a class="navbar-brand col-1" href="{% url 'posts:index' %}">
                    <i class="fab fa-korvue"></i> 
                </a>
                <!-- 검색 영역 -->
                <div class="col-5">
                    <form class="input-group" action="" method="get">
                        <input class="form-control w-50" type="text" name="q" value="{{q}}">
                        <input class="btn btn-light" type="submit" value="검색">
                    </form>                    
                </div>
                <!-- 메뉴 영역 -->
                <div class="col-4">
                    {% if user.is_authenticated %}
                        <ul class="nav">
                            <li class="nav-item"><span class="nav-link text-white">🙋🏻‍♀️ {{ user.get_username }}님 환영합니다.</span></li>
                            <li class="nav-item"><a class="nav-link text-white" href="{% url 'accounts:logout' %}">로그아웃</a></li>
                        <!-- <form method="POST" action="{% url 'accounts:logout' %}">
                            {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">로그아웃</button>
                        </form> -->
                        </ul>
                    {% else %}
                        <ul class="nav">
                            <li class="nav-item"><a class="nav-link text-white" href="{% url 'accounts:login' %}">로그인</a></li>  
                            <li class="nav-item"><a class="nav-link text-white" href="{% url 'accounts:sign_up' %}">회원가입</a></li>
                        </ul>
                    {%endif%}
                </div>
                <!-- 요청하기 영역 -->
                <div class="col-auto" >
                    <a class="btn btn-primary btn-outline-light" href="{% url 'posts:new' %}">
                        번역 요청하기
                    </a>
                </div>
                
            </div>
        </nav>
        <div class="container-fluid col-md-9 align-self-center ">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" integrity="sha384-haqrlim99xjfMxRP6EWtafs0sB1WKcMdynwZleuUSwJR0mDeRYbhtY+KPMr+JL6f" crossorigin="anonymous"></script>
</body>
</html>