{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'posts/style.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도전 K번역</title>
</head>
<body>
    <h1>번역글 확인하기</h1>
    {% if post != None %}

    <h2>작성자</h2>
    <p>{{ post.author }}</p>

    <h2>번역요청</h2>
    <p>{{ post.request }}</p>

    <h2>요청일</h2>
    <p>{{ post.created_at }}</p>

    {% else %}
        <p>No Post</p>

    {% endif %}
    <a href="{% url 'posts:index' %}">목록으로 돌아가기</a>
    <a href="{% url 'posts:edit' post.id %}">수정하기</a>
    <a href="{% url 'posts:delete' post.id %}">삭제하기</a>
</body>
</html>