{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'posts/style.css' %}">
{% endblock %}

{% block content %}
<h1 class="mb-3">🙏🏻 수정하기</h1>

<form method="POST" action="{% url 'posts:update' post.id %}">
    {% csrf_token %}
    <!-- 본문영역   -->
    <div class="row">
        <div class="mb-3 col-md-6">
            <label for="request" class="form-label">번역요청</label>
            <textarea class="form-control" name="request" id="request" rows="3">{{ post.request }}</textarea>
        </div>
        <div class="mb-3 col-md-6">
            <label for="official_response" class="form-label">공식번역</label>
            <textarea class="form-control" id="official_response" rows="3" placeholder="{{ comment.response }}" readonly disabled></textarea>
        </div>
    </div>
    <input class="btn btn-primary mb-3" type="submit" value="확인">
</form>

{% if post.comment_set.exists %}
    <div class="my-4">
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th>작성자</th>
                    <th>번역글</th>
                    <th>등록일</th>
                    <th>좋아요수</th>
                    <th>상세</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in post.comment_set.iterator %}
                <tr>
                    <td>{{ comment.user.get_username }}</td>
                    <td>{{ comment.response }}</td>
                    <td>{{ comment.created_at }}</td>
                    <td>{{ comment.liked_users.count }}</td>
                    {% if user in comment.liked_users.all %}
                        <td><a class="text-secondary text-decoration-none" href="{% url 'posts:comment_like' post.id comment.id %}">좋아요</a></td>
                    {% else %}
                        <td><a class="text-primary text-decoration-none" href="{% url 'posts:comment_like' post.id comment.id %}">좋아요</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}




{% endblock %}