{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h1>🙏🏻 번역요청하기</h1>
    <form method="POST" action="{% url 'posts:create' %}">
        {% csrf_token %}
        <div>
            <label for="author">글쓴이</label>
            <input type="text" id="author" name="author">
        </div>  
        <div>
            <label for="request">요청</label>
            <textarea name="request" id="request" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" value="요청하기">
    </form>
    
    <a href="{% url 'posts:index' %}">목록으로 돌아가기</a>

{% endblock %}